beautifulsoup4
fastapi
uvicorn[standard]
jsonschema
langchain
langchain_experimental
markdown
numpy
openai
tiktoken
pydantic
python-dotenv
pyyaml
requests
tenacity
tools
transformers
html2text
PyPDF2
arxiv
medium_api
pymupdf
python-pptx
docx
scrapy
playwright

sqlalchemy

#RAG
faiss-cpu

#PubMed database
biopython
#OCR
# torch>=1.9.0
# torchvision>=0.10.0
# numpy>=1.21.0
# opencv-python>=4.5.3
# Pillow>=8.2.0
# pytesseract>=0.3.8
# easyocr>=1.4